header {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 102vh;
  border-bottom: 1px solid $color-shine-purple;
}
html {
  background: url(../img/hihi2.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navigation {
  padding-top: 2.5rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo__box {
  }
  &__logo {
    color: $color-primary-white;
    font-weight: 600;
    font-size: 2.2rem;
    transition: all 0.3s;

    &:hover {
    }
  }
  &__elements {
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 3rem;
  }
  &__link {
    text-decoration: none;
    color: $color-primary-white;
    font-size: 2rem;
    position: relative;
    font-weight: 600;
    z-index: 500;
    transition: all 0.3s;

    &:hover {
      color: $color-shine-purple;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color-shine-purple;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }
  &__btn {
  }
}

.header {
  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
  }

  &__heading {
    color: $color-primary-white;
    font-size: 32pt;
    text-align: center;
    z-index: 500;
  }

  &__btn {
    padding: 1.3rem 4rem;
    border: 2px solid $color-primary-white;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 2px;
    transition: all 0.3s;
    position: relative;
    z-index: 500;

    &:hover {
      background-color: $color-shine-purple;
      border: 2px solid $color-shine-purple;

      letter-spacing: 0.5px;
    }

    &:hover .arrow__icon {
      transform: rotate(90deg);
    }

    &__container {
      padding-top: 3rem;
      margin: 0 auto;
    }
  }
}

.name {
  color: $color-shine-purple;
  transition: all 0.3s;
  &:hover {
    letter-spacing: 3px;
  }
}

.arrow__icon {
  font-size: 2rem;
  position: absolute;
  top: 13px;
  right: 10px;
  transition: all 0.3s;
}

// Animated shapes

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* mobile */

.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  background-color: $color-shine-purple;
  border-radius: 50px;
  padding: 1rem;
  margin-right: 15rem;
  position: fixed;
  transform: translateX(-50px);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  color: #fff;
  background-color: $color-shine-purple;
}

.btn-mobile-nav {
  display: block;
  z-index: 10000;
}

.navigation__elements {
  background-color: $color-darker-blue;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100vh;
  /* transform: translateX(100%); */
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  margin-right: 0;
  padding-right: 0;
  pointer-events: none;

  visibility: hidden;
}

.navigation__list {
  flex-direction: column;
  gap: 4.8rem;
  color: black;
  text-align: center;
}

ul {
  position: relative;
}

ul li a {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: $color-shine-purple;
  color: $color-primary-white;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 1s;
  z-index: 1;
  border-radius: 11px;
}

ul li a:hover {
  transform: scale(1.4);
  z-index: 1000;
  background-color: #ff3f81;
  opacity: 1;
}

ul:hover li a {
  opacity: 1;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 8rem;
  height: 100%;
  background-color: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  transform: skewX(35deg);
  transition: 0s;
}

ul li a:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}

ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}

ul li:hover:before {
  opacity: 0.1;
  letter-spacing: 0px;
}

.navigation__link {
  color: $color-primary-white;
  text-align: center;
  font-size: 4rem;

  &:hover {
    color: #002d62;
  }
}

.nav-open .navigation__elements {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

@media screen and (max-width: 1076px) {
  .btn-mobile-nav {
    display: block;
    z-index: 10000;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 702px) {
  .header__heading {
    font-size: 20pt;
  }

  .header__btn {
    padding: 1rem 2rem;
  }
  .arrow__icon {
    display: none;
  }
  header {
    background-image: url(../img/hihi2.svg);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
    height: 100vh;
  }

  ul li:before {
    font-size: 8em;
  }
}
